<div class="container mt-5">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo"> {{ titulo | uppercase }}</span>
            <form
              class="mt-3"
              [formGroup]="usuarioForm"
              (ngSubmit)="agregarProducto()"
            >
              <div class="mb-3">
                <input
                  type="text"
                  formControlName="user"
                  class="form-control form-control-lg"
                  placeholder="Usuario"
                />
                <div
                  class="text-danger"
                  *ngIf="
                    usuarioForm.get('user')?.hasError('required') &&
                    usuarioForm.get('user')?.touched
                  "
                >
                  <span
                    >El usuario <strong>es obligatorio</strong></span
                  >
                </div>
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  formControlName="name"
                  class="form-control form-control-lg"
                  placeholder="Nombre"
                />
                <div
                  class="text-danger"
                  *ngIf="
                  usuarioForm.get('name')?.hasError('required') &&
                  usuarioForm.get('name')?.touched
                  "
                >
                  <span>El nombre del usuario <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  formControlName="lastName"
                  class="form-control form-control-lg"
                  placeholder="Apellido"
                />
                <div
                  class="text-danger"
                  *ngIf="
                  usuarioForm.get('lastName')?.hasError('required') &&
                  usuarioForm.get('lastName')?.touched
                  "
                >
                  <span>El apellido del usuario <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  formControlName="email"
                  class="form-control form-control-lg"
                  placeholder="Email"
                />
                <div
                  class="text-danger"
                  *ngIf="
                  usuarioForm.get('email')?.hasError('required') &&
                  usuarioForm.get('email')?.touched
                  "
                >
                  <span>El email <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <input
                  type="text"
                  formControlName="dni"
                  class="form-control form-control-lg"
                  placeholder="Cedula"
                />
                <div
                  class="text-danger"
                  *ngIf="
                  usuarioForm.get('dni')?.hasError('required') &&
                  usuarioForm.get('dni')?.touched
                  "
                >
                  <span>El numero de cedula <strong>es obligatorio</strong></span>
                </div>
              </div>
              <div class="mb-3">
                <button
                  routerLink="/"
                  class="btn btn-secondary btn-lg float-start"
                >
                  VOLVER
                </button>
                <button
                  type="submit"
                  class="btn btn-success btn-lg float-end"
                >
                  ACEPTAR
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  