<div class="container mt-5">
    <div class="row">
      <div class="col-lg-8 offset-lg-2">
        <div class="card">
          <div class="card-body text-center">
            <span class="titulo">LISTADO DE USUARIOS</span>
            <button
              class="btn btn-success float-end"
              routerLink="/crear-usuario"
            >
              NUEVO
            </button>
            <table
              *ngIf="listUsuarios.length > 0"
              class="table table-striped mt-3"
            >
              <thead>
                <tr>
                  <th scope="col">#Cedula</th>
                  <th scope="col">Usuario</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Apellido</th>
                  <th scope="col">Email</th>
                  
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let usuario of listUsuarios">
                  <td>{{ usuario.dni}}</td>
                  <td>{{ usuario.user }}</td>
                  <td>{{ usuario.name }}</td>
                  <td>{{ usuario.lastName }}</td>
                  <td>{{ usuario.email}}</td>
                  <td>
                    <i
                      [routerLink]="['/editar-usuario', usuario.id]"
                      class="fas fa-edit text-primary"
                    ></i>
                    <i
                    (click)="eliminarProducto(usuario.id)"
                      class="fas fa-trash text-danger"
                    ></i>
                  </td>
                </tr>
              </tbody>
            </table>
            <h5
              style="text-align: start; margin-top: 10px"
              *ngIf="listUsuarios.length == 0"
            >
              No hay usuarios para mostrar
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  